.layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--light-bg);
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: var(--white);
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
}

.sidebar-header {
  padding: 1.5rem;
  border-bottom: 1px solid var(--border-color);
}


.sidebar-header h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1c3787;
  margin: 0 0 0.5rem 0;
}

/* .user-info {
  font-size: 0.875rem;
  color: var(--dark-text);
  font-weight: 600;
  margin: 0;
}

.user-role {
  display: inline-block;
  font-size: 0.75rem;
  color: var(--light-text);
  text-transform: capitalize;
  background-color: var(--light-bg);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  margin-top: 0.5rem;
} */

.sidebar-nav {
  flex: 1;
  padding: 1rem 0;
  overflow-y: auto;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1.5rem;
  color: var(--light-text);
  text-decoration: none;
  font-size: 0.975rem;
  font-weight: 700;
  transition: all 0.2s;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

.nav-item:hover {
  background-color: var(--light-bg);
   color: #1c3787;
}

.nav-item.active {
  background-color: var(--light-bg);
   color: #1c3787;
  border-left: 3px solid var(--primary-color);
}

.nav-item svg {
  font-size: 1.25rem;
}

.sidebar-footer {
  padding: 1rem;
  border-top: 1px solid var(--border-color);
  text-align: left;
  
}

.logout-icon {
  color: red;
}

.logout-btn {
  background: #1c3787;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.2s ease;
  width: 60%;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.logout-btn:hover {
  transform: scale(1.05);
  background: #162d6a;
}


/* Main Content */
.main-content {
  flex: 1;
  margin-left: 260px;
  min-height: 100vh;
}

.content-wrapper {
  padding: 2rem;
  max-width: 1400px;
  margin: 0 auto;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .main-content {
    margin-left: 200px;
  }

  .content-wrapper {
    padding: 1rem;
  }
}

@media (max-width: 640px) {
  .sidebar {
    width: 100%;
    position: relative;
  }

  .main-content {
    margin-left: 0;
  }
}
